body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF

.blockedUsers
	border-width: 1px
	border-color: darkgray
	border-radius: 5px
	border-style: solid
	padding-left: 25px
	padding-right: 25px
	padding-top: 5px
	padding-bottom: 5px
	font-size: 16pt
	height: 250px
	overflow: scroll
	background-color: lightgray
	box-shadow: inset 3px 3px 3px darkgray, inset -3px -3px 3px darkgray
	font-family: "Lucida Console"

.userelement
	display: none

.smallTalk
	//border-width: 1px
	//border-color: darkgray
	//border-radius: 2.5px
	//border-style: solid
	height: 260px
	overflow: scroll
	//background-color: lightgray
	//padding: 5px
	//box-shadow: inset 1.5px 1.5px 1.5px darkgray, inset -1.5px -1.5px 1.5px darkgray

.counterBorder
	border-width: 1px
	border-color: black
	border-radius: 2px
	border-style: solid
	height: 34px
	background: linear-gradient(to top, white, lightgray)
	display: inline-block

.counterDigit
	border-width: 1px
	border-color: gray
	border-style: solid
	height: 20px
	width: 20px
	padding-top: 6px
	padding-bottom: 6px
	display: inline-block
	font-size: 20px
	color: dimgray
	text-align: center

.lightBorder
	border-width: 1px
	border-color: gray
	border-style: solid
	border-radius: 5px
	padding: 5px